---
import {
  translateFor,
  stripBaseAndLocale,
  getRelativeLocalePath,
} from "@/i18n/utils";

const t = translateFor(Astro.currentLocale);

const unLocalizedPathname = stripBaseAndLocale(
  Astro.currentLocale,
  Astro.url.pathname
);

const nextLocale = Astro.currentLocale === "zh" ? "en" : "zh";
const nextLocaleName = nextLocale === "zh" ? "中文" : "English";
---

<div class="flex items-center">
  <a
    href={getRelativeLocalePath(nextLocale, unLocalizedPathname)}
    class:list={[
      "group inline-flex items-center justify-center px-3 py-1 text-sm font-medium whitespace-nowrap text-foreground transition-colors hover:text-accent sm:px-2",
    ]}
    aria-label={t("a11y.languagePicker")}
  >
    {nextLocaleName}
  </a>
</div>
